body
  background-color: #ffffff
  font-size: 1rem
  line-height: 1.4375rem
  color: $color-black
  +font-300
  +css-lock(15,16,768,1280)

html,
body
  height: 100%
  font-size: 16px
  +r(960)
    font-size: 14px
.wrapper
  overflow: hidden
  display: flex
  flex-direction: column
  min-height: 100%
  .content
    flex: 1 0 auto
  .footer 
    flex: 0 0 auto

body .container
  +rmin(1230)
    max-width: 1200px

// h1,
// .h1
//   +font-900
//   +css-lock(24,36,768,1280)
//   line-height: normal
// h2,
// .h2
//   +font-900
//   +css-lock(24,42,768,1280)
//   line-height: normal
//   margin-top: 1.5em
//   margin-bottom: .45em
// h3,
// .h3
//   +font-900
//   +css-lock(21,24,768,1280)
//   line-height: 2.125rem
// h4,
// .h4
//   +font-500
//   +css-lock(18,21,768,1280)
//   line-height: normal

// h5,
// .h5
//   +font-500
//   +css-lock(17,18,768,1280)
//   line-height: 1.5625rem


img,
svg
  max-width: 100%

p
  margin-bottom: 1.25rem

a
  color: $color-main
  text-decoration: none
  &:hover
    text-decoration: underline
  &:active
    color: #2588DD
    text-decoration: underline

// strong
//   +font-500

.text-right
  text-align: right
.text-center
  text-align: center