@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900')

=font-300
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-style: normal
  font-display: swap

=font-300i
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-style: italic
  font-display: swap



$color-main: #3CA1F9
$color-black: #333333
$color-active: #FF9900
$color-green: #2AC74D
$color-light: #E5E5E5
$color-disable: #bdc6ca
$color-border: #f2f2f2
$color-red: #F55B5B
