include ../mixins/all
doctype html
html(lang="en")
  head
    include _head

  body(class=bodyClass)
    .wrapper(class=outClass)
      block header
        include ../partials/_header
      main.content
        block content
        //END out

        // modals
        include ../partials/_modals

      //footer
      include ../partials/_footer 

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/lib/jquery.min.js")
      script(type="text/javascript" src="js/lib/svgxuse.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
      //- script(type="text/javascript" src="js/lib/slick.min.js")
      script(type="text/javascript" src="js/app.js")
